@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Regular.ttf)
}

@import 'variables';

html {
  font-size: $root-font-size;
  font-family: $font-family;
  max-width: $page-width;
  margin: 0 auto;
  text-align: center;
}

p {
  font-size: $paragraph-font-size;
}

.logo-upper {
  position: fixed;
  background-image: url('../images/logo-up.jpg');
  background-repeat:no-repeat;
  background-size: contain;
  top: 0;
  left: 0;
  bottom:0;
  right:0;
}

.logo-bottom{
}

@media (min-width: 320px) and (max-width: 480px) {
  .logo-upper {
    position: fixed;
    background-image: url('../images/logo-480.jpg');
    background-repeat:no-repeat;
    background-size: contain;
    top: 0;
    left: 0;
    bottom:0;
    right:0;
  }
}
