.grid_layout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

@media only screen and (max-width: 600px) {

  .grid_layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }

}


@media (min-width: 320px) and (max-width: 480px) {
  .grid_layout {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }
}
